<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.weidushop">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".application.MyApplication"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.BaseActivity"></activity>
        <activity android:name=".activity.WodbActivity"></activity>
        <activity android:name=".activity.PingActivity"></activity>
        <activity android:name=".activity.SearchActivity"></activity>
        <activity android:name=".activity.ShdzActivity"></activity>
        <activity android:name=".activity.NewaddShouhuoActivity"></activity>
    </application>

</manifest>
